.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding-top: 30px;
}

.narrow-outline-box {
  background-color: rgba(255, 255, 255, 0.85);
  border: 5px solid #000000;

  width: 400px;

  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  margin-left: auto;
  margin-right: auto;

  /* position: absolute; */
  top: 250%;
  left: 33%;
}

.slab-serif {
  /* Use slab serif-font */
  font-family: "Arvo", serif;
}

.centered-text {
  align-items: center;
  text-align: center;
}

.login-text {
  text-align: left;
}

.login-text p {
  display: inline;
  padding-left: 28%;
}

.createacc-btn {
  text-align: right;
}
